<div class="container">
    <input class="input-field" placeholder="Material Name" [(ngModel)]="materialName">
    <input class="input-field" placeholder="Lot No" [(ngModel)]="lotNo">
    <input class="input-field" placeholder="Total Quantity" [(ngModel)]="totalQuantity" type="number">

    <div *ngFor="let x of details" class="lots">
        <div>Lot No: {{x.lotNo}}</div>
        <div>Quantity: {{x.quantity}}kg</div>
    </div>

    <button class="action-button" (click)="save()">
        Proceed
    </button>
</div>
